<style>
	.scs-valiate-field {
		width: 0px;
        height: 0px;
        padding: 0px;
        margin: 0px;
        display: block;
        border: none;
	}
</style>

<template>
	<input type="text"
		class="scs-valiate-field"
		value=""
		tabindex="-1"
	/>
</template>

<script>
	export default {
		props: {
			value: null
		},
		watch: {
			value(value, oldValue) {
				if(value == oldValue) {
					return;
				}

				if(typeof(value) != 'undefined' && value != null) {
					window.$(this.$el).val(value);
		        } else {
		        	window.$(this.$el).val('');
		        }

		        let lFv = window.$(this.$el)
		        	.closest('form')
		        	.data('formValidation');

		        if(typeof(lFv) != 'undefined') {
		        	lFv.validateField(window.$(this.$el));
		        	lFv.revalidateField(window.$(this.$el));
		        	
		        }
			}
		}
	}
	    
</script>