<template>
	<div :class="cClass">
		<slot></slot>
		<validate-input :value="value" :name="name"></validate-input>
	</div>
</template>

<script>
	export default {
		props: {
			value: null,
			name: null,
			scsClass: {
				type: Object,
				default() {
					return {
						'form-group': true
					};
				}
			}
		},
		computed: {
			cClass() {
				return _.extend(this.scsClass, {'form-group': true});
			}
		},
	}
</script>