<template>
	<button type="button"
		:class="cClass"
	>
		<slot></slot>
	</button>
</template>

<script>
	export default {
		props: {
			value: null,
			scsClass: {
				type: Object,
				default() {
					return {
						'btn': true
					};
				}
			},
			color: {
				type: String,
				default() {
					return {
						'default': true
					};
				}	
			}
		},
		computed: {
			cClass() {
				let lColor = this.color;
				let lScsClass = this.scsClass;

				if(lColor != '') {
					lScsClass['btn-' + lColor] = true;
				}

				return lScsClass;
			}
		},
	}
</script>