<style>
	.scs-vue-button-group .btn-primary {
		border: 1px solid #2a88bd;
	}

	.scs-vue-button-group.focus .btn {
		border: 1px solid #98cbe8;
	}

 	.scs-vue-button-group .hide-input {
		height: 0;
		width: 0;
		border: none;
		padding: 0;
		margin: 0;
		float: left;
 	}
</style>
<template>
	<div
		:class="{
			'scs-vue-button-group': true,
			'focus': focused
		}"
	>
		<div class="btn-group">
			<button v-for='button in buttons' 
		    	type="button"
		    	tabindex="-1" 
		    	:class="button.class"
		    	@click="update(button.value)"
	    	>
	    		<span v-html="button.text"></span>
	    	</button>
		</div>
		<input type="text" 
			class="hide-input"
			@keyup="moveFocus"
			@focus="focus"
			@blur="blur"
			:tabindex="tabindex"
		/>
	</div>
</template>
<script>
	export default {
		props: {
			list: Array,
			textField: {
				type: String,
				default: 'name'
			},
			valueField: {
				type: String,
				default: 'id'
			},
			value: null,
			buttonClass: {
				type: String,
				default: 'btn btn-default'
			},
			activeClass: {
				type: String,
				default: 'btn btn-primary'
			},
			tabindex: {
				type: Number,
				default: 0
			}
		},
		data () {
			return {
				focused: false
			};
		},
		computed: {
			buttons() {
				const lTextField = this.textField;
				const lValueField = this.valueField;
				const lButtonClass = this.buttonClass;
				const lActiveClass = this.activeClass;
				const lValue = this.value;
				const lList = this.list;

				return _.map(this.list, (item) => {
					let lClass = lButtonClass;
					if(lValue == item[lValueField]) {
						lClass = lActiveClass;
					}

					return {
						'text': item[lTextField], 
						'value': item[lValueField],
						'class': lClass
					};	
				});
			} 
		},
		methods: {
			update(val) {
				this.$emit('input', val);
			},
			moveFocus(event) {
				let lValue = this.value;
				let lButtons = this.buttons;
				let lCurrentIndex = _.findIndex(lButtons, (button) => {
					return (button.value == lValue);
				});
				let lMinIndex = 0;
				let lMaxIndex = _.size(lButtons) - 1;
				
				if(event.keyCode == 37) {
					if(lCurrentIndex > lMinIndex) {
						this.update(lButtons[lCurrentIndex - 1].value);
					}
				} else if(event.keyCode == 39) {
					if(lCurrentIndex < lMaxIndex) {
						this.update(lButtons[lCurrentIndex + 1].value);
					}
				}
			},
			focus(event) {
				this.focused = true;
			},
			blur(event) {
				this.focused = false;
			}
		}
	};
</script>