<template>
	<div :class="cClass">
	    <input type="checkbox" 
	    	:id="id" 
	    	:checked="value"
	    	@change="update"
	    	:tabindex="tabindex"
	    	:disabled="disabled"
	    	:readonly="readonly"
    	>
	    <label><slot>&nbsp;</slot></label>
	</div>	
</template>
<script>
	export default {
		props: {
			value: {
				required: true
			}, 
			id: {
				default() {
					return '';
				}
			}, 
			scsClass: {
				default() {
					return null;
				}
			},
			color: {
				default() {
					return null;
				}	
			},
			tabindex: {
				default() {
					return null;
				}
			},
			disabled: {
				default() {
					return false;
				}
			},
			readonly: {
				default() {
					return false;
				}
			}
		},
		computed: {
			cClass() {
				if(this.scsClass == null && this.color == null) {
					return 'checkbox checkbox-primary';
				} else if(this.scsClass == null) {
					return 'checkbox checkbox-' + this.color;
				} else {
					return this.scsClass;
				}
			}
		},
		methods: {
			update(event) {
				this.$emit('input', event.target.checked);
			}
		}
	}
</script>
