<style>
	.scs-date-field-full-width {
		width: 100%;
	}
	.scs-date-field {
		width: 0px;
        height: 0px;
        display: block;
        border: none;
	}
	.glyphicon.icon-arrow-right:before {
		content: "\E092";
	}
	.glyphicon.icon-arrow-left:before {
    	content: "\E091";
	}
</style>

<template>
	<div>
		<div class="input-group scs-date-field-full-width">
			<input type="text" 
		        class="form-control"
		        :placeholder="placeholder"
		        :value="cDate"
		        @blur="onBlur"
		        @keydown="onKeyDown"
		        :tabindex="tabindex"
		    />
		    <slot>
		    	<div class="input-group-addon btn btn-default"
			    	@click="openDatepicker"
			    	v-show="showPicker"
		    	>
			        <i class="fa fa-calendar"></i>
			    </div>
			    <div class="input-group-addon btn btn-danger"
			    	@click="clearDatepicker"
			    	v-show="showDelete"
		    	>
			        <i class="fa fa-trash"></i>
			    </div>
		    </slot>
		</div>
		<input type="text" 
			ref="datepicker"
	    	class="scs-date-field pull-right"
	        tabindex="-1"
	    />
	</div>
</template>

<script>
	export default {
		computed: {
			cDate() {
				let lDate = this.value;
				let lForceUpdate = this.forceUpdate;
				if(typeof(lDate) == 'undefined' 
					|| lDate == null 
					|| lDate == '') {
					lDate = moment('null');
				} else {
					lDate = moment(lDate, window.Laravel.vueConfig.databaseDateTimeFormat);
				}

				if(lDate.isValid()) {
					window.$(this.$refs.datepicker).datetimepicker('update', lDate.toDate());
					return lDate.format(this.dateFormat);
				} else {
					window.$(this.$refs.datepicker).datetimepicker('update', moment().toDate());
					return null;
				}
			},
			cDatePicker() {
				return window.$(this.$refs.datepicker);
			},
			cStartDate() {
				let lDate = this.startDate;
				if(typeof(lDate) == 'undefined' 
					|| lDate == null 
					|| lDate == '') {
					lDate = moment('null');
				} else {
					lDate = moment(lDate, window.Laravel.vueConfig.databaseDateTimeFormat);
				}

				if(lDate.isValid()) {
					return lDate.format(window.Laravel.vueConfig.databaseDateTimeFormat);
				} else {
					return null;
				}
			},
			cEndDate() {
				let lDate = this.endDate;
				if(typeof(lDate) == 'undefined' 
					|| lDate == null 
					|| lDate == '') {
					lDate = moment('null');
				} else {
					lDate = moment(lDate, window.Laravel.vueConfig.databaseDateTimeFormat);
				}

				if(lDate.isValid()) {
					return lDate.format(window.Laravel.vueConfig.databaseDateTimeFormat);
				} else {
					return null;
				}
			}
		},
		data() {
			return {
				forceUpdate: false
			};
		},
		props: {
			value: {
				default: function() {
					return null;
				}
			},
			dateFormat: {
				default() {
					return window.Laravel.vueConfig.dateTimeFormat;
				}
			},
			startDate: {
				default: function() {
					return null;
				}
			},
			endDate: {
				default: function() {
					return null;
				}
			},
			placeholder: {
				default: function() {
					return '';
				}
			},
			clearOnInvalid: {
				type: Boolean,
				default() {
	      			return true;
	      		}	
			},
			showDelete: {
				type: Boolean,
				default() {
	      			return false;
	      		}	
			},
			showPicker: {
				type: Boolean,
				default() {
	      			return true;
	      		}	
			},
	      	tabindex: null,
	      	options: {
	      		type: Object,
	      		default() {
	      			return {
						format: window.Laravel.vueConfig.dateTimePickerFormat,
			            minView: 2,
			            startView: 2,
			            autoclose: true,
			            pickerPosition: 'bottom-left',
					};
	      		}
	      	}
		},
		watch: {
			cStartDate(date) {
				if(date != null) {
					window.$(this.$refs.datepicker).datetimepicker('setStartDate', date);	
				} else {
					window.$(this.$refs.datepicker).datetimepicker('setStartDate');
				}
			},
			cEndDate(date) {
				if(this.endDate != null) {
					window.$(this.$refs.datepicker).datetimepicker('setEndDate', date);	
				} else {
					window.$(this.$refs.datepicker).datetimepicker('setEndDate');
				}
			},
		},
		mounted() {
			let lDate = this.value;
			if(typeof(lDate) == 'undefined' 
				|| lDate == null 
				|| lDate == '') {
				lDate = moment('null');
			} else {
				lDate = moment(lDate, window.Laravel.vueConfig.databaseDateTimeFormat);
			}

			let lOptions = this.options;
			
			if(typeof(this.startDate) != 'undefined') {
				lOptions.startDate = this.startDate;
			}
			
			if(typeof(this.endDate) != 'undefined') {
				lOptions.endDate = this.endDate;
			}

			if(lDate.isValid()) {
				lOptions.initialDate = lDate.toDate();
			} else {
				lOptions.initialDate = moment().toDate();
			}

			window.$(this.$refs.datepicker).datetimepicker(lOptions);

			window.$(this.$refs.datepicker).on('changeDate', this.pickDate);
		},
		methods: {
			update(pDate) {
				if(pDate == null && this.clearOnInvalid) {
					this.$emit('input', null);
					return;

				} else if(pDate == null && !this.clearOnInvalid) {
					pDate = moment();
				}

				if(
					this.cStartDate != null 
					&& pDate.isBefore(moment(this.cStartDate))
				) {
					this.$emit('input', this.cStartDate);
				} else if(
					this.cEndDate != null 
					&& pDate.isAfter(moment(this.cEndDate))
				) {
					this.$emit('input', this.cEndDate);
				} else {
					this.$emit('input', pDate.format(window.Laravel.vueConfig.databaseDateTimeFormat));
				}	
			},
			onKeyDown(pEvent) {
				let lDate;
				if(typeof(this.value) == 'undefined'
					|| this.value == null) {
					lDate = moment();
				} else {
					lDate = moment(this.value, window.Laravel.vueConfig.databaseDateTimeFormat);
				}
				
				let lRtnDate = '';
	      		switch(pEvent.which) {
			        case 37: // left
			        	lRtnDate = lDate.subtract(1, 'day');
			        break;
			        case 38: // up
			        	lRtnDate = lDate.add(1, 'month');
			        break;
			        case 39: // right
			        	lRtnDate = lDate.add(1, 'day');
			        break;
			        case 40: // down
			        	lRtnDate = lDate.subtract(1, 'month');
			        break;

			        default: return; // exit this handler for other keys
			    }
			    
			    if(lRtnDate != '') {
			    	this.update(lRtnDate);
			    }
			},
			openDatepicker() {
				window.$(this.$refs.datepicker).datetimepicker('show');
			},
			clearDatepicker() {
				this.update(null);
			},
			onBlur(pEvent) {
				let lDate = moment(moment(pEvent.target.value).format(this.dateFormat));
				if(!lDate.isValid()) {
					this.update(null);
				} else {
					this.update(lDate);	
				}

				this.forceUpdate = !this.forceUpdate;
			},
			pickDate(pEvent) {
				this.update(moment(pEvent.date));
			},
		}
	};
</script>
@append
