<template>
    <button	type="button" 
    	:class="cClass"
    	@click="tryDelete"
	>
		<span v-show="confirmed"><slot name="confirm-text">Confirm</slot></span>
		<slot>Delete</slot>
	</button>
</template>

<script>
    export default {
        props: {
            color: {
                type: String,
                default() {
                    return 'danger'
                }
            },
            timeout: {
                type: Number,
                default() {
                    return 3000
                }
            },
            scsClass: {
                type: [String, Object],
                default() {
                    return ''
                }  
            }
        },
        data() {
            return {
                confirmed: false    
            };
        },
        computed: {
            cClass() {
                let lColor = 'btn-' + this.color;
                let lClass = this.scsClass;
                if(_.isString(lClass)) {
                    return lClass + ' btn ' + lColor;
                } else if(_.isPlainObject(lClass)) {
                    let lDefault = {
                        btn: true
                    };
                    lDefault[lColor] = true;

                    return _.extend(lClass, lDefault);
                } else {
                    return 'btn ' + lColor;
                }
            }
        },
        methods: {
            tryDelete() {
                var vm = this;
                if(vm.confirmed) {
                    vm.$emit('deleted');
                    vm.confirmed = false;
                } else {
                    setTimeout(function() {
                        vm.confirmed = false;
                    }, vm.timeout);
                    vm.confirmed = true;
                }
            }
        }
    };
</script>