<template>
<div :class="{'form-group': true, 'col-md-12': true, 'has-error': errors.has('email')}">
    <label for="email">Email</label>
    <input data-vv-rules="'required|email'" class="form-control" v-model="email" name="email" type="text" placeholder="Email">
    <span v-show="errors.has('email')" class="help-block">{{ errors.first('email') }}</span>
</div>
</template>

<script>

export default {
	computed: {
		dataObject: () => {
			return this.email
		}
	},
	props: {
		'name': {
			default() {
				return 'email';
			}
		},
		'placeholder': {
			default() {
				return 'Email';
			}
		},
		'value': {},
		// 'rules': {
		// 	default() {
		// 		return "'required|email'";
		// 	}
		// },
		'email': 'test@me.you'
	},
	methods: {
		update(event) {
			this.$emit("input", event.target.value);
		}
	},
	mounted: () => {
		// this.dataObject = this.email
		console.log(this.email);
		console.log(this.dataObject);
	}
};

</script>