<style>
	.scs-file-uploader-drop-container {
		width: 100%;
		min-height: 10em;
		padding: 1em;
		border: 3px dashed grey;
	}
</style>

<template>
	<div class="scs-file-uploader-drop-container">
		<div class="text-center">
			<i class="fa fa-cloud-upload fa-3x" aria-hidden="true"></i>
		</div>
		<div class="text-center">
			<input ref="uploadInput" class="form-control" type="file" />
			<strong>Drop files here to upload</strong>
		</div>
		<slot>
		</slot>
	</div>
</template>

<script>
	import { mapGetters, mapActions, mapMutations } from 'vuex';

	let html5Upload = require('./FileUploader/html5Upload');

	export default {
		props: {
			value: {
				type: Array
			}
		},
		data() {
			return {
				currentId: -1
			}
		},
		computed: {
			...mapGetters({
				csrfToken: 'csrfToken'
			})
		},
		mounted() {
			let $el = this.$el;
			let uploadInput = this.$refs.uploadInput;
			const route = this.$webRoute('files.store');
			// const objectId = this.objectId;
			// const objectType = this.objectType;
			let vm = this;

			html5Upload.initialize({
			    // URL that handles uploaded files
			    uploadUrl: route,
			    
			    // HTML element on which files should be dropped (optional)
			    dropContainer: $el,

			    // HTML file input element that allows to select files (optional)
			    inputField: uploadInput,

			    // Key for the file data (optional, default: 'file')
			    //key: 'File',

			    // Additional data submitted with file (optional)
			    // data: { objectId: objectId, objectType: objectType },
			    headers: [
			    	{name: 'X-CSRF-TOKEN', value: vm.csrfToken}
			    ],
			    // Maximum number of simultaneous uploads
			    // Other uploads will be added to uploads queue (optional)
			    maxSimultaneousUploads: 2,

			    // Callback for each dropped or selected file
			    // It receives one argument, add callbacks 
			    // by passing events map object: file.on({ ... })
			    onFileAdded: function (file) {
			    	const fileId = vm.currentId;

			    	const newFile = {
						id: fileId,
						filename: file.fileName,
						filesize: file.fileSize,
						mime_type: file.file.type,
						progress: 0
					};
					
			    	vm.$emit('input', _.concat(vm.value, newFile));

			    	vm.currentId = vm.currentId - 1;

			        // var fileModel = new models.FileViewModel(file);
			        // uploadsModel.uploads.push(fileModel);

			        file.on({
			            // Called after received response from the server
			            onCompleted: function (response) {
			            	vm.$emit('input', _.map(vm.value, (file) => {
			            		if(file.id == fileId) {
			            			return JSON.parse(response);
			            		} else {
			            			return file;
			            		}
			            	}));
			            },
			            // Called during upload progress, first parameter
			            // is decimal value from 0 to 100.
			            onProgress: function (progress) {
			            	vm.$emit('input', _.map(vm.value, (file) => {
			            		if(file.id == fileId) {
			            			return _.assign(_.clone(file), {progress: progress.toFixed(0)});
			            		} else {
			            			return file;
			            		}
			            	}));
			            }
			        });
			    }
			});
		}
	}
	
</script>
