<template>
	<div>
		<div v-for="file in value" style="padding: 0.3em;">
			<span v-if="file.id < 0">
				<i class="fa fa-file-o"></i> {{ file.filename }}
				<span class="pull-right">
					Uploading {{ file.progress }}%
				</span>
				<div class="clearfix">
				</div>
			</span>
			<div v-if="file.id > 0">
				<a :href="$webRoute('files.show', [file.id])" 
					target="_blank"
				>
					<i class="fa fa-file-o"></i> {{ file.filename }}
				</a>
				<span class="pull-right" v-if="canDelete">
					<delete class="btn-xs"
						@deleted="deleteFile(file.id)"
					>Delete</delete>
				</span>
				<div class="clearfix">
				</div>
			</div>
		</div>	
	</div>
</template>

<script>
	export default {
		props: {
			value: {
				type: Array
			},
			canDelete: {
				type: Boolean,
				default() {
					return false;
				}
			}
		},
		methods: {
			deleteFile(fileId) {
				const route = this.$webRoute('files.destroy', [fileId]);

				axios.delete(route);

				this.$emit('input', _.reject(this.value, (file) => {
					return (file.id == fileId);
            	}));
			}
		}
	}

</script>
