<template>
	<div class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" v-if="value" style="display: block;">
  		<div class="modal-dialog" role="document">
    		<div class="modal-content">
      			<div class="modal-header">
      				<slot name="header" :open="open" :close="close">
		    			<button type="button" 
		    				@click="close()" 
		    				aria-label="Close"
		    				class="close"
	    				>
	    					<span aria-hidden="true">&times;</span>
    					</button>
		    			<h4 class="modal-title" id="myModalLabel">
		    				<slot name="title" :open="open" :close="close"></slot>
	    				</h4>
        			</slot>
      			</div>
      			<div class="modal-body">
        			<slot :open="open" :close="close"></slot>
      			</div>
      			<div class="modal-footer">
      				<slot name="footer" :open="open" :close="close">
      					
      				</slot>
	      		</div>
	    	</div>
	  	</div>
	</div>
</template>

<script>
	export default {
		props: {
			value: null
		},
		methods: {
			open() {
				this.$emit('input', true);
			},
			close() {
				this.$emit('input', false);
			},
		}	
	}
</script>