<template>
	<input type="text"
		:class="cClass"
		:value="cNumber"
		@input="update"
		@blur="updateBlur"
	/>
</template>

<script>
	export default {
		props: {
			value: {
				required: true
			},
			scsClass: {
				type: Object,
				default() {
					return {
						'form-control': true
					};
				}
			},
			decimals: {
				type: Number,
				default() {
					return window.Laravel.vueConfig.defaultDecimals;
				}
			},
			decimalPoint: {
				type: String,
				default() {
					return window.Laravel.vueConfig.defaultDecimalPoint;
				}
			},
			thousandsSeperator: {
				type: String,
				default() {
					return window.Laravel.vueConfig.defaultThousandSeparator;
				}
			},
			showZero: {
				type: Boolean,
				default() {
					return true;
				}
			},
			min: {
				type: Number,
				default() {
					return null;
				}
			},
			max: {
				type: Number,
				default() {
					return null;
				}
			},
			debounceDelay: {
				type: Number,
				default() {
					return parseInt(window.Laravel.vueConfig.debounceDelay);
				}
			}
		},
		data() {
			return {
				reset: false,
				dDebounce: _.debounce((aValue, aVm) => {
                    aVm.$emit('input', aValue);
                }, this.debounceDelay),
                dDebounceBlur: _.debounce((aValue, aVm) => {
                    aVm.$emit('blur', aValue);
                }, this.debounceDelay),
			};
		},
		computed: {
			cNumber() {
				let reset = this.reset;
	      		return this.mNumberFormat(this.value, this.decimals, this.decimalPoint, this.thousandsSeperator, this.showZero);
			},
			cClass() {
				return this.scsClass;
			}
		},
		methods: {
			update(event) {
				const newNumber = event.target.value.replace(/,/g, '');
				if(!isNaN(newNumber)) {
					this.emitInput(this.mGuardRange(newNumber));
					this.emitInstantInput(this.mGuardRange(newNumber));
				} else {
					this.reset = !this.reset;
				}
			},
			updateBlur(event) {
				const newNumber = event.target.value.replace(/,/g, '');
				if(!isNaN(newNumber)) {
					this.emitBlur(this.mGuardRange(newNumber));
					this.emitInstantBlur(this.mGuardRange(newNumber));
				}
			},
			emitInstantInput(aValue) {
				this.$emit('instant-input', aValue);
			},
			emitInput(aValue) {
				this.dDebounce(aValue, this);
			},
			emitInstantBlur(aValue) {
				this.$emit('instant-blur', aValue);
			},
			emitBlur(aValue) {
				this.dDebounceBlur(aValue, this);
			},
			mGuardRange(number) {
				if(this.max != null && number > this.max) {
					return this.max;
				} else if (this.min != null && number < this.min) {
					return this.min;
				} else {
					return number;
				}
			},
			mNumberFormat(number, decimals, decimalPoint, thousandsSeperator, showZero) {
		        if(typeof(number) == 'undefined' || isNaN(number)) {
		            return '';
		        } else {
		            number = (number + '')
		                .replace(/[^0-9+\-Ee.]/g, '');
		            var n = !isFinite(+number) ? 0 : +number,
		                prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
		                sep = (typeof thousandsSeperator === 'undefined') ? ',' : thousandsSeperator,
		                dec = (typeof decimalPoint === 'undefined') ? '.' : decimalPoint,
		                s = '',
		                toFixedFix = function (n, prec) {
		                    var k = Math.pow(10, prec);
		                    return '' + (Math.round(n * k) / k)
		                        .toFixed(prec);
		                };
		            // Fix for IE parseFloat(0.55).toFixed(0) = 0;
		            s = (prec ? toFixedFix(n, prec) : '' + Math.round(n))
		                .split('.');
		            if (s[0].length > 3) {
		                s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
		            }
		            if ((s[1] || '')
		                .length < prec) {
		                s[1] = s[1] || '';
		                s[1] += new Array(prec - s[1].length + 1)
		                    .join('0');
		            }
		            
		            if(s.join(dec) == 0 && showZero === false ) {
		                return '';  
		            } else  {
		                return s.join(dec);
		            }
		        }
		    }
		}
	};
</script>