<template>
	<sync-loader :color="color" :loading="loading"></sync-loader>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import SyncLoader from 'vue-spinner/src/SyncLoader.vue';

export default {
	components: {
		SyncLoader
	},
	computed: {
        ...mapGetters({
            loading: 'loading'
        }),
    },
    data() {
    	return {
    		'color': '#3c8dbc',
    		'size': '4'
    	};
    }
}

</script>