<template>
	<input type="password"
		:class="cClass"
		:value="value"
		@input="update"
		@blur="updateBlur"
	/>
</template>

<script>
	export default {
		props: {
			value: null,
			scsClass: {
				type: Object,
				default() {
					return {
						'form-control': true
					};
				}
			},
			debounceDelay: {
				type: Number,
				default() {
					return parseInt(window.Laravel.vueConfig.debounceDelay);
				}
			}
		},
		data() {
			return {
				dDebounce: _.debounce((aValue, aVm) => {
                    aVm.$emit('input', aValue);
                }, this.debounceDelay),
                dDebounceBlur: _.debounce((aValue, aVm) => {
                    aVm.$emit('blur', aValue);
                }, this.debounceDelay)
            };
		},
		computed: {
			cClass() {
				return this.scsClass;
			}
		},
		methods: {
			update(event) {
				this.emitInput(event.target.value);
				this.emitInstantInput(event.target.value);
			},
			emitInstantInput(aValue) {
                this.$emit('instant-input', aValue);
            },
            emitInput(aValue) {
                this.dDebounce(aValue, this);
            },
            updateBlur(event) {
				this.emitBlur(event.target.value);
				this.emitInstantBlur(event.target.value);
			},
			emitInstantBlur(aValue) {
				this.$emit('instant-blur', aValue);
			},
			emitBlur(aValue) {
				this.dDebounceBlur(aValue, this);
			}
		}
	}
</script>