<template>
	<div>
        <trix-editor @trix-initialize="initialize"
            @trix-change="update"
        ></trix-editor>
    </div>
</template>

<style>
    trix-editor {
        min-height: 112px;
    }
    .has-error trix-editor {
        border-color: #a94442;
    }
    
    .has-success trix-editor {
        border-color: #3c763d;
    }
</style>

<script>
	export default {
        props: {
            value: {
                type: String,
                default: function() {
                    return '';
                }
            },
            debounceDelay: {
                type: Number,
                default() {
                    return parseInt(window.Laravel.vueConfig.debounceDelay);
                }
            }
        },
        data: function() {
            return {
                hidden: {},
                dDebounce: _.debounce((aValue, aVm) => {
                    aVm.$emit('input', aValue);
                }, this.debounceDelay)
            };
        },
        methods: {
            initialize: function(event) {
                this.hidden.$rte = $(event.target);
                this.hidden.html = this.value;
                this.hidden.$rte[0].editor.loadHTML(this.hidden.html);
            },
            update(event) {
                this.hidden.html = this.hidden.$rte.html();
                this.emitInput(this.hidden.html);
                this.emitInstantInput(this.hidden.html);
            },
            emitInstantInput(aValue) {
                this.$emit('instant-input', aValue);
            },
            emitInput(aValue) {
                this.dDebounce(aValue, this);
            }
        },
        watch: {
            value: function(val, oldVal) {
                if(typeof(this.hidden.$rte) == 'undefined') {
                    return;
                }

                if(val != this.hidden.html) {
                    this.hidden.$rte[0].editor.loadHTML(val);
                }
            }
        }
    };
</script>