<template>
	<select>
		<slot></slot>
	</select>
</template>

<script>
	export default {
		props: {
			value: null,
			disabled: {
				type: Boolean,
				default: function() {
					return false;
				}
			},
			options: {
				type: Object,
				default: function() {
		            return {
		            	width: '100%',
		            	minimumResultsForSearch: 6
		            };
		        }
			},
			list: {
				type: [Object, Array],
				default: function() {
					return new Array();
				}
			},
			valueField: {
				type: String,
				default: function() {
					return 'id';
				}
			},
			textField: {
				type: String,
				default: function() {
					return 'name';
				}
			},
			placeholder: {
				type: String,
				default: function() {
					return "";
				}
			}
		},
		computed: {
			selectData: function() {
				var list = this.list;
				var valueField = this.valueField;
				var textField = this.textField;

				var rtn = $.map(list, function (obj) {
				  	obj.id = obj[valueField];
				  	obj.text = obj[textField];

				  	return obj;
				});

				return rtn;
			},
		},
        data: function() {
        	return {
	            firstCompute: true,
	            hide: {
	            	$select: {},
	            	select2: {}
	            },
	            dValue: '',
	        }
        },
        methods: {
        	initSelect2: function() {
        		var vm = this;
				vm.hide.$select = window.$(vm.$el);

				if(vm.disabled) {
					vm.hide.$select.prop('disabled', true);
				}

				var options = vm.options;
				if(!(Array.isArray(vm.list) && vm.list.length == 0)) {
					options.data = vm.selectData;
				} else {
					options.data = [];
				}

				if (this.placeholder.length > 0) {
					options.placeholder = this.placeholder;
				}
				
				vm.hide.select2 = vm.hide.$select.select2(options);
				vm.hide.$select.val(vm.value);
				vm.hide.$select.trigger('change');
				
				vm.hide.$select.on('select2:select', function(event) {
					vm.dValue = vm.hide.$select.val();
					vm.$emit('selected', vm.dValue, event.params.data);
					vm.$emit('input', vm.dValue);
					vm.hide.$select.focus();
				});

				vm.hide.$select.on('select2:unselect', function(event) {
					vm.dValue = vm.hide.$select.val();
					vm.$emit('unselected', vm.dValue, event.params.data);
					vm.$emit('input', vm.dValue);
				});

				vm.hide.$select.show();
				vm.firstCompute = false;
        	}
        },
		mounted: function() {
			if(this.firstCompute) {
				this.initSelect2();	
			}
		},
		destroyed() {
			this.hide.$select.select2('destroy');
		},
		watch: {
	    	disabled: function (val, oldVal) {
	    		var vm = this;
	    		if(vm.disabled) {
	    			vm.hide.$select.prop('disabled', true);
	    		} else {
	    			vm.hide.$select.prop('disabled', false);
	    		}
	      	},
	      	dValue: function (val, oldVal) {
	    		var vm = this;

	    		vm.hide.$select.val(val);
	    		vm.hide.$select.trigger('change');
	      	},
	      	value: function (val, oldVal) {
	      		if (Array.isArray(val)) {
	      			if(!_.isEqual(val, this.dValue)) {
	      				this.dValue = val;
	      			}
	      		} else if(val != this.dValue) {
	      			this.dValue = val;
	      		}	    		
	      	},
	      	list: function() {
	      		var vm = this
	      		if(!vm.firstCompute) {
					vm.hide.$select.select2('data', null);
					vm.hide.$select.select2('destroy');
					vm.hide.$select.html('');
					vm.firstCompute = true;
					vm.$nextTick(function() {
						vm.initSelect2();
					});
					
				}
	      	}
	    }
	}
</script>
