<template>
	<button type="button"
		:class="cClass"
		@click.stop="update"
	>
		<slot></slot>
	</button>
</template>

<script>
	export default {
		props: {
			value: null,
			scsClass: {
				type: Object,
				default() {
					return {
						'btn': true
					};
				}
			},
			color: {
				type: String,
				default() {
					return {
						'default': true
					};
				}	
			},
			debounceDelay: {
				type: Number,
				default() {
					return parseInt(window.Laravel.vueConfig.debounceDelay);
				}
			}
		},
		data() {
			return {
				dDebounce: _.debounce((aValue, aVm) => {
                    aVm.$emit('input', aValue);
                }, this.debounceDelay)
            };
		},
		computed: {
			cClass() {
				let lColor = this.color;
				let lScsClass = this.scsClass;

				if(lColor != '') {
					lScsClass['btn-' + lColor] = true;
				}

				return lScsClass;
			}
		},
		methods: {
			update(aEvent) {
				this.emitClick(aEvent);
				this.emitInstantClick(aEvent);
			},
			emitInstantClick(aEvent) {
				this.$emit('instant-click', aEvent);
			},
			emitClick(aEvent) {
				this.dDebounce(aEvent, this);
			}
		}
	}
</script>