<style>
	#scs-validator.has-error .error-message{
		color: #a94442;
	}
</style>

<template>
	<div :class="cClass" id="scs-validator">
		<slot></slot>
		<span :class="cMessageClass" v-for="message in cMessages">{{ message }}</span>
	</div>
</template>

<script>
	export default {
		props: {
			field: Array,
			messageClass: {
				type: Object,
				default() {
					return JSON.parse(window.Laravel.vueConfig.messageClass);
				}
			}
		},
		computed: {
			cClass() {
				let lField = _.reject(this.field, (tMessage) => {
					return tMessage.valid;
				});

				let lError = (_.size(lField) > 0);
				let lSuccess = (_.size(lField) == 0);

				return {
					'form-group': true,
					'has-error': lError,
					'has-success': lSuccess
				};
			},
			cMessages() {
				let lMessages = _.chain(this.field)
					.reject((tMessage) => {
						return tMessage.valid;
					})
					.map((tMessage) => {
						return tMessage.message;
					})
					.value();

				return lMessages;
			},
			cMessageClass() {
				return _.extend({'error-message': true}, this.messageClass);
			}
		}
	}
</script>

