<template>
	<form>
		<slot></slot>
	</form>
</template>

<script>
	export default {
		props: {
			fields: {
				type: Object,
				default() {
					return {};
				}
			},
			value: Boolean
		},
		data() {
			let data = {};
			data.loaded = false;
			data.fv = null;
			data.validating = false;
			return data;
		},
		mounted() {
			window.$(this.$el).formValidation({
				framework: 'bootstrap',
				fields: this.fields
			});
			
			this.$root.$on('revalidateField', (val)=> {
				this.revalidateField(val);
			});
			
			this.fv = window.$(this.$el).data('formValidation');
			
	        this.loaded = true;
	        this.validating = false;
	    },
	    beforeDestroy() {
	    	if(this.fv != null) {
				let vm = this;

	            this.fv.destroy();
	            this.fv = null;
	        }

	        this.loaded = false;
	        this.validating = false;
	    },
		methods: {
			validate() {
				if(this.fv == null) {
					return true;
				}

				if(this.validating == false) {
					this.fv.validate();
				}

				let isValid = this.fv.isValid();
				if(isValid == null) {
					this.validating = true;
					let vm = this;
					setTimeout(() => {vm.validate()}, 150);
				} else if(isValid == false) {
					this.validating = false;
					this.$emit('failure');
					return false;
				} else {
					this.validating = false;
					this.$emit('success');
					return true
				}				
			},
			revalidateField(fieldName) {
				if(this.fv != null) {
					if(this.fv.isValidField(fieldName) == null) {
						this.fv.validateField(fieldName);
					} else {
						this.fv.revalidateField(fieldName);
					}
				} else {
					let vm = this;
					setTimeout(() => {
						vm.revalidateField(fieldName);
					}, 150);
				}
			}
		},
		watch: {
			value(val) {
				if(val) {
					this.validate();
					this.$emit('input', false);
				}
			}
		}
	};
</script>
